html, body {
    background: url(/assets/img/backgroundburger.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-color: #00ff15;
    justify-content: center;
}

h1 {
    color: red;
    font-weight: bolder;
    background-color: yellow;
}

h2 {
    color: red;
    font-weight: bold;
    background-color: yellow;
}

li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}